@page
@model IndexModel
@{
    ViewData["Title"] = "Confirm logout";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <p>Bạn có chắc muốn đăng xuất không?</p>
            <div>
                <a class="btn" asp-area="" asp-controller="App" asp-action="Index">Không</a>
                <button id="logout" type="submit" class="btn btn-primary">Có</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}