@page
@model LogoutModel
@{
    Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    ViewData["Title"] = "Đăng xuất";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>Bạn đã đăng xuất thành công.</p>
</header>